/* body {
    background: white;
    color: #1c626d;
    text-align: center;
} */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1c626d;
    background: #95aeb2;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header {
    background: #2f636b;
    position: fixed;
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    background: #f8bd98;
    height: 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 0 5px 2px -2px rgb(139, 139, 139);
}

h1 {
    font-family: 'Nerko One';
    font-size: 4.5rem;
    letter-spacing: 3px;
    margin: 10px;
    color: white;
}

main {
    margin: 1rem;
    margin-top: 8.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    width:50%;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
    padding: 11px;
    background: #f7ebe4;
    border: 5px solid #f8bd98;
    box-shadow: 5px 5px 2px -2px rgb(139, 139, 139);
    border-radius: 25px;
}

#tableContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

td,
tr,
th {
    border: 2px solid #f8bd98;
}

table {
    width: 90%;
    background: #f7ebe4;
    border: 5px solid #f8bd98;
    box-shadow: 5px 5px 2px -2px rgb(139, 139, 139);
    border-radius: 10px;
    border-spacing: 0px;
    font-size: 25px;
    margin: 1rem;
}

td,
tr,
th {
    padding: 11px;
    text-align: center;
}

td:nth-of-type(odd) {
    background: #f4d3bf;
}

th {
    background: #47767d;
    color: white;
}


a {
    text-decoration: none;
    color: #1c626d;
    margin-top: 5px;
    font-size: 1.3rem;
}

a:hover {
    color: #64b5c2;
}


fieldset {
    font-size: 20px;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 10px;
    background: #f7ebe4;
    border: 5px solid #f8bd98;
    border-radius: 10px;
    box-shadow: 5px 5px 2px -2px rgb(139, 139, 139);
}

legend {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    border: 3px solid #f8bd98;
    border-radius: 10px;
    background: #f7ebe4;
}

input {
    background: white;
}

label {
    margin: 1rem;
}

button {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 6px;
    background: #1c626d;
    color: #f7f9f9;
    height: 30px;
    width: 200px;
    border-radius: 5px;
}


footer {
    height: 70px;
    background: #1c626d;
    margin-top: 1rem;
}

#copyright {
    font-size: 15px;
    text-align: center;
    color: white;
    margin-top: 2rem;
}